.container{
  display: none;

}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container{
    display: block;
    position: fixed;
    height: 100vh;
    width: 50%;
    background-color: #4b485e;
  }
}
.logoBox{
  display: flex;
  background-color: transparent;
  outline: none;
  border: none;
}

.linkBox {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  margin-top: 50px;
}
.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #fafafa;
}