.information {
  top:50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .information{
    display: flex;
    flex-direction: column;
  }
}
.cityTemperatureBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .cityTemputureBox{
    justify-content: center;
  }
}
.cityInformationBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .cityInformationBox{
    justify-content: center;
    padding: 20px;
  }
}

.weatherTemperature {
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  color: #fafafa;
}

@media only screen and (max-width: 375px) {
  /* For mobile phones: */
  .weatherTemperature{
    font-size: 40px;
  }
}

.icons {
  height: 100px;
  width: auto;
}

.cityText {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: #fafafa;
  letter-spacing: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .cityText{
    font-size: 30px;
  }
}

.weatherText {
  font-size: 15px;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  color: #fafafa;
  margin-bottom: 5px;
}
.line {
  height: 80px;
  width: 2px;
  background-color: #4b485e;
  margin: 10px 20px 0 20px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .line{
    height: 2px;
    width: 100%;
    margin: 0;
  }
}