.information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 25%;
}
.cityTemputureBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.cityInformationBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.weatherTemperature {
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  color: #fafafa;
}
.icons {
  height: 150px;
  width: auto;
}

.cityText {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  color: #fafafa;
  letter-spacing: 10px;
}
.weatherText {
  font-size: 15px;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  color: #fafafa;
  margin-bottom: 5px;
}
.line {
  height: 80px;
  width: 2px;
  background-color: #4b485e;
  margin-top: 30px;
}
