.weekDay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 250px;
  padding: 20px;
}
.icon {
  height: 55px;
  width: auto;
}
.temperatureText {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #fafafa;
}
