.weatherInformations {
  height: 200px;
  padding: 0 100px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .weatherInformations{
    padding: 0 20px;
  }
}

.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .buttonBox {
    justify-content: space-between;
  }
}

.button {
  background-color: transparent;
  border: none;
  color: darkgrey;
  margin: 0 10px;
  font-family: 'Montserrat', sans-serif;
}

.buttonSelected {
  background-color: transparent;
  border: none;
  color: #fafafa;
  margin: 0 10px;
  border-bottom: 1px solid white;
  font-family: 'Montserrat', sans-serif;
}
.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #918aa0;
  padding: 0;
}
